@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

*:hover {
    cursor: default;
}

a:hover {
    cursor: pointer;
}

body {
    background-color: #131313;
}

#container {
    width: 100%;
}